<p>template-syntax works!</p>
<h3>Interpolation Directive</h3>
<p>{{200}}</p>
<p>Data Binding: {{valueNum}}</p>
<p>{{(200.3498645).toLocaleString("de-DE")}}</p>
<p>{{"hello"}}</p>
<p>{{"hello".toUpperCase()}}</p>
<p>{{value1}}</p>
<p>{{value1.toUpperCase()}}</p>
<button [disabled]="isDisabled">Click</button>

<h4>Styles</h4>
<p style="background-color: aqua;">asdaSD</p>
<p [style.color]="'#ff33a4'">asdasdasd</p>
<p [ngStyle]="{
    'background-color': 'red',
    'color': 'white'
}">asdasdasd</p>

<h2 [ngClass]="{
    alert: true,
    'alert-info': isDisabled,
    'alert-error': !isDisabled
}">Status @if (isDisabled) {Aktiv} @else {Inaktiv}</h2>
<button (click)="isDisabled = !isDisabled">Status umschalten</button>
<p>10 Zufällige Nummern <button (click)="liste = randomNumbersBetween(1,100)">Generieren</button></p>

<ul>
    @for (item of liste; track $index) {
        <li>{{item}}</li>
    }
</ul>

<p [innerHTML]="value1 | uppercase"></p>

<pre>{{customer | json}}</pre>

<form (ngSubmit)="formSubmitEvent($event)">
    <input type="text" name="name" [(ngModel)]="value1">
    <button>Submit</button>
</form>